.form-group {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
    padding: 1rem;
}

.form-select {
    width: 90%;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 1.5rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check-inline {
    margin-right: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.form-switch {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem 0.5rem 0 0;
}

.form-switch input:checked+.form-check-label:before {
    background-color: #007bff;
}

.form-switch input:checked+.form-check-label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.form-check-label {
    cursor: pointer;
    margin-bottom: 0;
}

.form-check-label:before,
.form-check-label:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.form-check-label:before {
    left: -1.5rem;
    width: 1rem;
    height: 1rem;
    background-color: #dee2e6;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.form-check-label:after {
    left: -1.5rem;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 50%;
    vertical-align: middle;
    content: "";
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.start-form {
    display: block;
    background-color: #0000004d;
    color: floralwhite;
}

.mb-3 {
    padding: 1rem;
    margin: 1rem;
}

.form-switch {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem;
}

.note {
    margin: 1rem;
    background-color: darkgreen;
    width: 50%;
    display: inline-block;
}

.form-start-btn {
    margin: 1rem;
}